{
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-decorators-legacy",
    "transform-function-bind",
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
  ],

  "presets": [
    "es2015-native-modules",
    "react",
  ]
}
