{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "google",
  "globals": {
    "NODE_ENV": true
  },
  "plugins": [
    "flow-vars",
    "flowtype",
    "header",
    "import",
    "react",
  ],
  "rules": {
    "header/header": [
      "error",
      "block",
      [
          "* @license",
        " *  Copyright 2016 The Material Motion Authors. All Rights Reserved.",
        " *",
        " *  Licensed under the Apache License, Version 2.0 (the \"License\"); you may not",
        " *  use this file except in compliance with the License. You may obtain a copy",
        " *  of the License at",
        " *",
        " *      http://www.apache.org/licenses/LICENSE-2.0",
        " *",
        " *  Unless required by applicable law or agreed to in writing, software",
        " *  distributed under the License is distributed on an \"AS IS\" BASIS, WITHOUT",
        " *  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the",
        " *  License for the specific language governing permissions and limitations",
        " *  under the License.",
        " *",
        " *  @flow",
        " "
      ]
    ],

    //  Likely coming to the next version of the Style Guide, but it hasn't been
    //  finalized yet.
    "no-var": "error",
    "template-curly-spacing": [
      "warn",
      "always"
    ],
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "arrow-parens": "off",

    //  Flow-specific
    "no-duplicate-imports": "off",
    "import/no-duplicates": "error",
    "flow-vars/define-flow-type": "warn",
    "flow-vars/use-flow-type": "warn",
    "flowtype/space-before-type-colon": "error",
    "flowtype/space-after-type-colon": [
      "error",
      "never",
    ],
    "flowtype/type-id-match": [
      "error",
      "^([A-Za-z]+[a-z0-9]*)+[TI]$",
    ],

    //  React-specific
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/jsx-no-bind": "warn",
    "react/jsx-first-prop-new-line": "warn",
    "react/jsx-max-props-per-line": "warn",
    "react/react-in-jsx-scope": "error",
    "react/wrap-multilines": "error",
    "react/require-render-return": "error",
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-space-before-closing": [
      "error",
      "always"
    ],
    "react/jsx-equals-spacing": [
      "error",
      "always"
    ],
    "react/jsx-curly-spacing": [
      "error",
      "always"
    ],

    //  This is just me being stubborn because ternaries at the end of a line
    //  are impossible to read.  I should probably conform eventually.
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],

    //  ESLint will get mad at Immutable if you leave this on.
    "new-cap": "off"
  }
}
