.DS_Store
node_modules
*.log
*.pyc
.firebase/

# removing these until we have put more thought into how we want to
# package/distribute
**/dist/*
*.js.map
bazel-bin
bazel-genfiles
bazel-material-motion-js
bazel-out
bazel-testlogs
